.list-header{
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $small $regular;
}

.list-body{
    margin-bottom: $medium;
    
    @media (max-width: $mobile-breakpoint) {
        margin-bottom: $regular;
    }
}

.list-item{
    align-items: center;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    padding: $regular;
    text-decoration: none;
    transition: background 0.3s ease-in;
    &:hover {
        background: $off-white;
    }

    @media (max-width: $mobile-breakpoint) {
        align-items: flex-start;
        flex-direction: column;
        padding: $small;
    }
}

.list-item--message{
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $regular;
    &:hover{
        background: none;
    }
}

.list-item__title{
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title{
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data{
    margin: 0 0 0 $small;

    @media (max-width: $mobile-breakpoint) {
        margin: $small 0 0 0;
    }
}