//Use rem for sizing
//Better support for accesibility
* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%; //gives us 10px instead of 16px. This is easier to fiddle with
}
body {
    color: $dark-grey;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: $regular;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.is-active {
    font-weight: 700;
}