// Colors
$dark-grey: #333333;
$royal-blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;

//Fonts
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

//Spacing
$small: 1.2rem;
$regular: 1.6rem;
$medium: 3.2rem;
$large: 4.8rem;
$mobile-breakpoint: 45rem;